<!DOCTYPE html>
<html>

<body>
  <h1>File Upload</h1>
  <p>Welcome to Upload </p>
  <form method='post' enctype="multipart/form-data">
    
    <input type='file' name='file'><br><br>
    <input type='submit'>
  </form>
</body>
</html>